.signupContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f0f4f8;
	font-family: Arial, sans-serif;

  }
  
  .signupFormContainer {
	display: flex;
	flex-direction: row;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
	width: 800px;
	margin: 20px;
  }
  
  .left {
	flex: 1;
	background-color: #f7f9fc;
	padding: 40px;
	border-right: 1px solid #ddd;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fabc66;
  }
  
  .left h1 {
	font-size: 36px;
	margin-bottom: 20px;
	color: #333;
	font-weight: bold;
  }
  
  .right {
	flex: 1;
	padding: 40px;
  }
  
  .right h1 {
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
	font-weight: bold;
  }
  
  .formContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
  }
  
  .input {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
  }
  
  .passwordContainer {
	display: flex;
	align-items: center;
	gap: 10px;
  }
  
  .passwordContainer label {
	font-size: 14px;
	color: #666;
  }
  
  .passwordContainer input[type="checkbox"] {
	margin-right: 5px;
  }
  
  .greenBtn {
	background-color: #e7a223;
	color: white;
	padding: 15px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
  }
  
  .greenBtn:hover {
	background-color: #ecb245;
  }
  
  .errorMsg {
	color: red;
	font-size: 14px;
	margin-top: 10px;
  }
  